@import '../variables.scss';

.floating-remove-button {
	background-color: transparent;
	border: none;
	cursor: pointer;

	position: absolute;
	top: -8px;
	right: -8px;
	transition: all 0.2s;

	width: auto;
	height: auto;

	&.confirm > :global {
		svg {
			path {
				fill: $warn;
			}
		}
	}
}
