$background-dark: #030428;
$text-light: #fff;
$primary: #5f59f7;
$secondary: #6592fd;
$error: #f5487f;
$warn: #f7a325;
$text: #fff;
$header: #343090;
$background: #1b193e;
$header-text: #fff;
$highlight: #44c2fd;
